<a href="https://colab.research.google.com/github/gupta12344/Python-revision/blob/main/Copy_of_3_12_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
n1=6
n2=4
n=n1+n2
print(n)

10

In [ ]:
n1=3
n2=9
if n1>n2:
  print ("n1 is largest number")
else:
  print("n2 is largest")

n2 is largest

In [ ]:
n1=int(input("enter the first required number"))
n2=int(input("enter the second required number"))
if n1>n2:
  print("n1 is largest number")
else:
  print("n2 is largest number")

enter the first required number5
enter the second required number2
n1 is largest number

In [ ]:
p=int(input("enter the principal value"))
r=int(input("enter the value of rate"))
t=int(input("enter the time required"))
SI=(p*r*t)/100
print("SI is", SI)

enter the principal value3
enter the value of rate4
enter the time required5
SI is 0.6

In [ ]:
r=int(input("enter the value of radius"))
area=3.14*(r**2)
print("area of cirle is",area)

enter the value of radius4
area of cirle is 50.24

In [ ]:
n=15
if n>1:
  for i in range(2,(n//2)+1):
      if n%i==0:
         print("not prime")
         break
  else:
        print("Prime")
else:
  print("not prime")

not prime

In [ ]:
n=3
s=n**2
print(s)

9

In [ ]:
l=[]
for i in range(10):
  s=i**3
  l.append(s)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
l=[]
for i in range(21):
  l.append(i**2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
import math
num=int(input("enter the number "))
factorial=math.factorial(num)
print(f" The factorial of ", num, "is", factorial)

enter the number 5
 The factorial of  5 is 120

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

In [ ]:
l=[]
a=0
b=1
for i in range(11):
    l.append(a)
    c=a+b
    a=b
    b=c
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
num=2
for i in range(1,11):
   print(num ,"*",i ,"=",num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
num=int(input("enter the number : "))
if num%2==0:
  print("even number")
else:
  print("odd number")

enter the number : 11
odd number

In [ ]:
n=153
s=n
sum1=0
l=len(str(n))
while n!=0:
   r=n % 10
   sum1=sum1+(r**l)
   n=n//10
if s==sum1:
  print("armstrong number")
else:
  print("not armstrong number")

armstrong number

In [ ]:
num=int(input("enter the number : "))
s=num
l=len(str(num))
sum1=0
while num!=0:
   r=num%10
   sum1=sum1+r**l
   num=num//10
if s==sum1:
  print("armstrong")
else:
  print("not armstrong")

enter the number : 123
not armstrong

In [ ]:
num=12345
reverse=0
while num>0:
  r=num%10
  reverse=reverse*10 + r
  num=num//10
print(reverse)

54321

In [ ]:
num=154
s=num
reverse=0
while num>0:
    r=num%10
    reverse=reverse*10 + r
    num=num//10
if s==reverse:
    print("palindrom")
else:
    print("not palindrom")

not palindrom

In [ ]:
for i in range(5):
  for j in range(5):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
for i in range(4):
  for j in range(i,4):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
n=4
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print()

  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(4):
  for j in range(i,4):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  for j in range(i):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *

In [ ]:
n=4
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  for j in range(i,3):
    print("*",end=" ")
  print()

  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=3
for i in range(n):
  for j in range(i+1):
    print("1",end=" ")
  print()

1
1 1
1 1 1

In [ ]:
n=3
p=1
for i in range(4):
  for j in range(i+1):
    print(p,end=" ")
  print()
  p+=1

1
2 2
3 3 3
4 4 4 4

In [ ]:
n=3
p=1
for i in range(4):
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
n=3
p=1
for i in range(4):
  for j in range(i+1):
    print(p,end=" ")
  p+=1
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
n=3
for i in range(4):
  p=1
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
n=4
p=1
for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  p+=1
  print()

1 1 1 1
2 2 2
3 3
4

In [ ]:
n=4
p=1
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n):
    print(p,end=" ")
  p+=1
  print()

1 1 1 1
  2 2 2
    3 3
      4

In [ ]:
n=3
p=1
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(p,end=" ")
  for j in range(i):
    print(p,end=" ")
  p+=1
  print()

      1
    2 2 2
  3 3 3 3 3

In [ ]:
p=1
for i in range(3):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,3):
    print(p,end=" ")
  for j in range(i,2):
    print(p,end=" ")
  p+=1
  print()

  1 1 1 1 1
    2 2 2
      3

In [ ]:
n=5
p=5
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(p,end=" ")
  p-=1
  print()

  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1

In [ ]:
n=5
p=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(p,end=" ")
  for j in range(i):
    print(p,end=" ")
  p-=1
  print()

          5
        4 4 4
      3 3 3 3 3
    2 2 2 2 2 2 2
  1 1 1 1 1 1 1 1 1

In [ ]:
n=4
p=4
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(p,end=" ")
  for j in range(i+1,n):
     print(p,end=" ")
  p-=1
  print()

  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

In [ ]:
n=4
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if i%2==0:
      print("1",end=" ")
    else:
      print("2",end=" ")
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    if i%2==0:
      print("a",end=" ")
    else:
      print("b",end=" ")
  for j in range(i):
    if i%2==0:
      print("a",end=" ")
    else:
      print("b",end=" ")
  print()

          a
        b b b
      a a a a a
    b b b b b b b
  a a a a a a a a a

In [ ]:
n=4
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  p=1
  for j in range(i,n):
    print(p,end=" ")
    p+=1
  print()

  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
n=5
p=1
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(p,end=" ")
  for j in range(i):
    print(p,end=" ")
  p+=1
  print()
for i in range(4):
  for j in range(i+2):
    print(" ",end=" ")
  for j in range(i,4):
    print(p,end=" ")
  for j in range(i,3):
    print(p,end=" ")
  p+=1
  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [ ]:

for i in range(4):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(j+1,end=" ")
  for j in range(i):
    print(i+j+2,end=" ")
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7

In [118]:

for i in range(5):
  p=1
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()
for i in range(4):
  r=1
  for j in range(i,4):
    print(r,end=" ")
    r+=1
  print()

for i in range(5):
    p = 1
    for k in range(4 - i):
        print(" ", end=" ")
    for j in range(i + 1):
        print(p, end=" ")
        p += 1
    print()

for i in range(4):
    r = 1
    for k in range(i + 1):
        print(" ", end=" ")
    for j in range(4 - i):
        print(r, end=" ")
        r += 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [119]:
# Butterfly Pattern using for loop
def butterfly_pattern(n):
    # Upper part of the butterfly
    for i in range(1, n + 1):
        # Print left side stars
        for j in range(i):
            print('*', end='')
        # Print spaces in the middle
        for j in range(2 * (n - i)):
            print(' ', end='')
        # Print right side stars
        for j in range(i):
            print('*', end='')
        print()

    # Lower part of the butterfly
    for i in range(n, 0, -1):
        # Print left side stars
        for j in range(i):
            print('*', end='')
        # Print spaces in the middle
        for j in range(2 * (n - i)):
            print(' ', end='')
        # Print right side stars
        for j in range(i):
            print('*', end='')
        print()

# Size of the butterfly pattern
n = 5
butterfly_pattern(n)

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [135]:
# Butterfly Pattern using for loop
def butterfly_pattern(n):
    # Upper part of the butterfly
    for i in range(1, n + 1):
        # Print left side stars
        p=1
        for j in range(i):
            print(p, end=' ')
            p+=1
        # Print spaces in the middle
        for j in range(2 * (n - i)):
            print(' ', end=' ')
        # Print right side stars
        r=1
        for j in range(i):
            print(r, end=' ')
            r+=1
        print()

          # Lower part of the butterfly
    for i in range(4, 0, -1):
        # Print left side stars
        q=1
        for j in range(i):
            print(q, end=' ')
            q+=1
        # Print spaces in the middle
        for j in range(2 * (n - i)):
            print(' ', end=' ')
        # Print right side stars
        t=1
        for j in range(i):
            print(t, end=' ')
            t+=1
        print()

# Size of the butterfly pattern
n = 5
butterfly_pattern(n)

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1